<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdwater.movietimeuser.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">phone,</if>
            <if test="password != null">password,</if>
            <if test="nickname != null">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="gender != null">gender,</if>
            <if test="birthday != null">birthday,</if>
            <if test="introduce != null">introduce,</if>
            <if test="fanCount != null">fan_count,</if>
            <if test="followerCount != null">follower_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="phone != null">#{phone},</if>
            <if test="password != null">#{password},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="fanCount != null">#{fanCount},</if>
            <if test="followerCount != null">#{followerCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updatePwdByPhone">
        UPDATE user
        SET password =#{newPassword}
        WHERE phone = #{phone}
    </update>
    <select id="selectPage" resultType="com.cdwater.movietimeuser.model.vo.UserPageVO">
        SELECT
        phone,
        nickname,
        avatar,
        gender,
        birthday,
        introduce,
        fan_count,
        follower_count,
        create_time,
        update_time
        FROM user
        <where>
            <if test="phone != null and phone != ''">
                AND phone LIKE concat('%', #{phone}, '%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND nickname LIKE concat('%', #{nickname}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM user
    </select>
    <select id="selectByPhone" resultType="com.cdwater.movietimeuser.model.entity.User">
        SELECT id,
               phone,
               password,
               nickname,
               avatar,
               gender,
               birthday,
               introduce,
               fan_count,
               follower_count,
               create_time,
               update_time
        FROM user
        WHERE phone = #{phone}
    </select>
</mapper>